*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/app/proguard-rules.pro
/gradle/wrapper/gradle-wrapper.jar
/Certificates/CAcert.srl
/Certificates/client_base64.csr
/Certificates/client_signed.crt
/app/debug/
/app/release/
